*.gem
*.rbc
.bundle
.config
coverage
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp
spec/reports
spec/tmp
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
.internal_test_app